/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar {
  border: 0px solid #c8d4df;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #fff;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  border: 2px outset #c8d4df;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #f1f6f8;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .cal-nav {
  background: transparent;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background-image: url(bg/tit.jpg);
  color: #ffffff;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #f1f6f8;
  color: #707070;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #ffffff;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #c8d4df; /*556*/
  padding: 2px;
  text-align: center;
  color: #707070;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #ef7174;/*a66*/
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-image: url(bg/hvc.jpg);
  color: #000;
  border: 1px solid #c8d4df;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  color: #86BB6D;
  border: 1px solid #86BB6D;
  background-image: url(bg/sel.jpg);
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #707070;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background-image: url(bg/hvr.jpg);
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid #c6d3de;
  background-image: url(bg/hvc.jpg);
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #0088cc;
  color: #ffffff;
  border: 1px solid #c6d3de;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border: 1px solid #c6d3de;
  padding: 1px 3px 1px 1px;
  background-image: url(bg/sel.jpg);
  color: #86bb6d;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #ef7174;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: #0088cc;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #c8d4df;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #c8d4df;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #ffb;
  border: 1px solid #fd0;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #0088cc;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #c8d4df;
  background: #f1f6f8;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background-image: url(bg/hvc.jpg);
}

.calendar .combo .active {
  border-top: 1px solid #0088cc;
  border-bottom: 1px solid #0088cc;
  background-image: url(bg/hvc.jpg);
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f80;
  background-color: #8f4707; /*000*/
  color: red;
}

/* Fix for CrossMedia Mess-up*/
.calendar {
  border-collapse: separate;
  text-align: center;
}

.calendar table {
  border-collapse: separate;
  text-align: center;
}

.calendar td {
  border: none;
}

.buscarDatos .busquedaDeDatos fieldset div {
  float: none;
  width: auto;
}
